*{
    margin: 0;
}
.stepbystep{
    width: 100%;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
}
.introstep{
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
}
.intro{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.intro p{
    margin-top: -30px;
    background: none;
    width: 100%;
    height: 20%;
}
.step{
    width: 100%;
    height: 16%;
    border-top: 1px solid black;
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 7px;
}
.imgstep{
    width: 60%;
    height: 100%;
}
#myCarousel{
    width: 100%;
    height: 100%;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-inner .item{
    width: 100%;
    height: 100%;
}
.carousel-inner .item img{
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
}